#images-list {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto;
}

.card {
    margin: 2rem;
    min-height: 20rem;
    max-height: 20rem;
    overflow: hidden;
    padding-bottom: 2rem;
    transition: all 1s;

    &:hover {
        transition-timing-function: ease-in-out;
        transform: scale(1.1);
        max-height: 38rem;
    }
}

.main-image {
    margin:10px auto;
    width: 100%;
    object-fit: cover;
    min-height: 15rem;
    max-height: 15rem;
    transition: max-height 1s;

    &:hover {
        max-height: 35rem;    
        transition-timing-function: ease-in-out;
    }
}